.wrapper {
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-column-gap: 50px;
    grid-row-gap: 50px; */
    gap: 10px;
}

.wrapper > div {
    border: 2px solid grey;
    margin: 5px;
    padding: 5px;
}

.elem-1 {
    /* grid-column-start: 2; */
    /* grid-column-end: 2; */
    /* grid-column: ; */
    grid-row: 1 / 4;
}

.elem-2 {
    /* grid-column-start: 2; */
    /* grid-column-end: 2; */
}