.grid {
    display: grid;
}

.flex {
    display: flex;
}

.avatar {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 2px solid black;
}

.inline {
    display: inline-block;
    margin: 10px;
}

.wrapper {
    width: 80vw;
    padding: 5%;
    height: auto;
    margin: auto;
}

header {
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}

section {
    margin: 50px 0;
    grid-template-columns: repeat(3, 120px);
}

section img {
    width: 75px;        
    height: 75px;
    border-radius: 50%;
    border: 1.5px solid black;
}

.stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-wrapper {
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;
    color: grey;
    padding: 15px;
}

.nav-wrapper > nav {
    grid-template-columns: repeat(4, 100px);
}

.nav-wrapper > nav > button {
    outline: none;
    margin: 5px;
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
}

main {
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
    gap: 15px;
}

main > .content {
   border: 1px solid grey;
   width: 25vw;
   height: 25vw;   
}

.main-wrapper {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}